
<!DOCTYPE html>
<html>
<head>
<title>Adress Pizza </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body><br><br>
<div style="width: 900px;height: 700px;margin-left: 300px;">
  <h1 style="margin-left: 300px;">Order side  </h1>

  <%- include('header'); -%>
   

  <% if(order.length>0) { %>
    <table class="table table-dark">
      <thead>
        
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Doller or Rupee</th>
          <th scope="col">Order Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<order.length;i++) { %>  
          <tr>
          <td><%= i %></td>
          <th><%= order[i]._id %></th>
          <td><%= order[i].ord_name %></td>
          <td style="width: 100px;"><%= order[i].ord_price %></td>
          <td><%= order[i].ord_date %></td>
          <td style="width: 170px;color: rgb(44, 46, 44);font-size: 20px;">
            <a href='/delete/<%= order[i]._id %>' style="color: cornsilk;">Delete</a> |
            <a href='/showcard/<%= order[i]._id %>' style="color: cornsilk">Show</a>
  
  </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    
    <% } else { %>

     data not found
<% } %>


<!--     this use of data show only for user order
<p><%= order.ord_price%></p>
<p><%=order.ord_name%></p>
<%=order.ord_date%> -->
</div>

</body>
</html>



