
<!DOCTYPE html>
<html>
<head>
<title>Adress Pizza </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body><br><br>
<div style="width: 900px;height: 700px;margin-left: 300px;">
  <h1 style="margin-left: 100px;" class="text-muted">Pizza address customer </h1>

  <%- include('header'); -%>

  <% if(users.length>0) { %>
<table class="table table-dark">
  <thead>
    
    <tr>
      <th scope="col">No</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Pin</th>
      <th scope="col">Mob</th>
        <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<users.length;i++) { %>
    <tr>
      <td><%= i %></td>
      <td><%= users[i].cust_email %></td>
      <td><%= users[i].cust_addrese %></td>
      <td><%= users[i].cust_city %></td>
      <td><%= users[i].cust_pin %></td>
      <td><%= users[i].cust_mob %></td>



      <td style="width: 100px;color: rgb(44, 46, 44);font-size: 20px;">
        <a href='/deleteshow/<%= users[i]._id %>' style="color: cornsilk;">Delete</a>
      </td>
     
    </tr>
    <% } %>
  </tbody>
</table>

<% } else { %>
  No Record Found
<% } %>
</div>
</body>
</html>



